*{
    text-align: center;
    background-color: rgb(255, 255, 255);
    
    justify-content: center;
    align-items: center; 
    
}
/*
input{
    height: 35px;
    width: 20%;
}
button{
    height: 40px;
    width: 10%;
    background-color: rgb(12, 157, 197);
    color: rgb(0, 0, 0);
    margin-left:10px;
}

.todo h2{
    color: rgb(0, 0, 0);
}
.todo input{
    background-color: white;
    color: black;
}
.todos{
   
    color: rgb(0, 0, 0);
}
.custom-table{
    max-width: 80%;
}  */

.todo {
    text-align: center;
}


.todo input{
    margin-bottom: 10px;
    padding: 5px;
}

.todos-table th,
.todos-table td {
    vertical-align: middle;
    
}

.todos-table tbody{
    background-color: yellow; 
    margin-top: 200px;
  }

.todo h2{
    font-weight: bold;
    margin-top: 100px;
}
.todo button{
    margin-left:10px;
}