*{
    text-align: center;
    background-color: rgb(255, 251, 251);
    border: 10px;
    justify-content: center;
    align-items: center; 
    
}

.todo {
    text-align: center;

}


.todo input{
    margin-bottom: 10px;
    padding: 20px;
    border: solid black;
}

.todos-table th,
.todos-table td {
    vertical-align: middle;
    
}

/* .todos-table tbody{
    /* width : 1000px; */
  /* border-spacing: 100px;  
} */

.todo h2{
    font-weight: bold;
    margin-top: 100px;
}
.todo button{
    margin-left:10px;
    padding: 10px;
    border: solid black;
}
.totodo{
  width: 50%;
  border: 5px solid rgb(39, 40, 39);
  padding: 100px;
  text-align: center;
  margin: auto;
  box-shadow: 10px 10px 5px rgb(60, 61, 61);
  font-size: large;
}
