*{
    text-align: center;
    background-color: rgb(73, 70, 70);
}
input{
    height: 35px;
    width: 20%;
}
button{
    height: 40px;
    width: 10%;
    background-color: rgb(12, 157, 197);
    color: rgb(10, 9, 9);
    margin-left:10px;
}
.edit{
    height: 40px;
    width: 10%;
    background-color: rgb(15, 125, 32);
    color: white;
    margin-right:10px;
}
.delete{
    height: 40px;
    width: 10%;
    background-color: rgb(126, 37, 4);
    color: white;
}
.todo h2{
    color: white;
}
.todo input{
    background-color: white;
    color: black;
}
.todos{
   
    color: white;
}